*{
    margin: 0;
    padding: 0;

    background-color: purple;
    box-sizing: border-box;
}

p{

    font-family: "Jersey 10", sans-serif;
    font-weight: 40rem;
    font-style: normal;
    font-size: 6rem;

    margin-left: 30rem;
}

#gengar-logo{
    
    margin-left: 30%;
    
    width: 30rem;
    height: 25rem;
}

#pesquisa{
    display: flex;
    align-items: center;
    width: 80%;
}
#pesquisar{
    margin-left: 27rem;
}

#cartasContainer{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    width: auto;
}
#cartasContainer .carta{
    width: auto;
    height: auto;
    margin: 10px;
}

input{

    width: 30rem;
    height: 1.3rem;
}

i{
    width: 3rem;
    height: 1rem;
    
}
